#appTitle {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.body {
  margin-bottom: 7.5vh;
}

.tab-bar {
  width: 90vw;
}

#logo {
  width: 80%;
}

.bs-hrs {
  display: flex;
  flex-direction: column;
  font-size: larger;
  .title {
    font-weight: bold;
    font-size: larger;
  }
}

.text-h5 {
  font-weight: bold;
}

.labels {
  font-size: smaller;
}

.title:link {
  color: white;
  text-decoration: none;
}

/* visited link */
.title:visited {
  color: white;
  text-decoration: none;
}

.title:hover {
  color: $lightAccent;
  text-decoration: none;
}

.scrollArea {
  height: 100vh;
}

.faqsExpansionHeaderStyle {
  font-size: 20px;
  font-weight: bold;
}

.dialogToolbar {
  font-size: 25px;
  width: 100%;
}

@media (max-width: 600px) {
  .dialogToolbar {
    font-size: 20px;
  }
}
