#app_layout {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.tab-bar {
  width: 90vw;
}
#logo {
  width: 80%;
}

.labels {
  font-size: smaller;
}

.dialogToolbar {
  font-size: 25px;
  width: 100%;
}

.menuDrawer {
  white-space: break-spaces;
}

.tabBarContainer {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.tabBar {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-container {
  min-height: 100vh;
  position: relative;
}
@media (max-width: 600px) {
  .dialogToolbar {
    font-size: 20px;
  }
  #logoDiv {
    margin-top: 0vh;
  }
}
