.instagram {
  color: #d6249f;
  color: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}

.iframe {
  margin-top: 0vh;
  margin-bottom: 0vh;
}

#schedule_expansion_item
  > div
  > div.q-item.q-item-type.row.no-wrap.q-item--clickable.q-link.cursor-pointer.q-focusable.q-hoverable.text-black.text-bold
  > div.q-item__section.column.q-item__section--side.justify-center.q-item__section--avatar
  > i {
  color: $primary;
}

#schedule_expansion_item
  > div
  > div.q-item.q-item-type.row.no-wrap.q-item--clickable.q-link.cursor-pointer.q-focusable.q-hoverable.text-black.text-bold
  > div.q-focus-helper {
  background-color: $primary;
}

#schedule_expansion_item
  > div
  > div.q-expansion-item__content.relative-position {
  background-color: #e0f6fe;
}

.my-card {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}
.iframe {
  width: 600px;
  height: 300px;
  border: none;
}
@media (max-width: 600px) {
  .my-card {
    max-width: 350px;
  }
  .iframe {
    height: 250px;
    width: 350px;
  }
}
