.footer {
  border-top: solid lightgray 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white; /* White background for the footer */
  margin-top: 0; /* Remove any margin */
}

.instagram {
  color: #d6249f;
  color: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}

.footer-title {
  font-family: 'BodoniSvtyTwoSCITCTT-Book';
  font-weight: bolder;
  font-size: 37px;
}

/* Add padding to the footer when the TabBar is visible */
.pb-tabbar.footer {
  padding-bottom: 90px; /* Increased padding to ensure copyright text is fully visible */
}

/* Specific styling for the copyright notice */
.copyright-notice {
  margin-bottom: 10px;
}

/* Additional padding for the copyright notice on mobile devices */
@media (max-width: 600px) {
  .footer-title {
    font-size: 30px;
  }
  
  .copyright-notice {
    margin-bottom: 15px;
  }
  
  /* When TabBar is present, add even more margin to the copyright notice */
  .pb-tabbar .copyright-notice {
    margin-bottom: 20px;
  }
}
