#input {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.search-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search-button-mobile {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
}

@media (max-width: 600px) {
  .search-button {
    bottom: 10%;
  }
}
