---
name: Build and Push Vue/Quasar/Nginx image to Google Cloud Platform
on:
  push:
    branches: [main]
jobs:
  build-push-gcr:
    name: Build image and push to GCP
    runs-on: ubuntu-latest
    env:
      REGION_NAME: 'us-east1-docker.pkg.dev'
      PROJECT_ID: 'extended-poetry-223323'
      REGISTRY_NAME: 'web-tenares'
      IMAGE_NAME: 'web-tenares-image'
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Export environment variables to .env file
        env:
          GOOGLE_MAPS_API_KEY: ${{ secrets.GOOGLE_MAPS_API_KEY }}
          FIREBASE_USERNAME: ${{ secrets.FIREBASE_USERNAME }}
          FIREBASE_PASSWORD: ${{ secrets.FIREBASE_PASSWORD }}
          HECTOR_BASE_URL: ${{ secrets.HECTOR_BASE_URL }}
          HECTOR_USERNAME: ${{ secrets.HECTOR_USERNAME }}
          HECTOR_TYPE: ${{ secrets.HECTOR_TYPE }}
          FIREBASE_API_KEY: ${{ secrets.FIREBASE_API_KEY }}
          FIREBASE_AUTH_DOMAIN: ${{ secrets.FIREBASE_AUTH_DOMAIN }}
          FIREBASE_DATABASE_URL: ${{ secrets.FIREBASE_DATABASE_URL }}
          FIREBASE_PROJECT_ID: ${{ secrets.FIREBASE_PROJECT_ID }}
          FIREBASE_STORAGE_BUCKET: ${{ secrets.FIREBASE_STORAGE_BUCKET }}
          FIREBASE_MESSAGING_SENDER_ID: ${{ secrets.FIREBASE_MESSAGING_SENDER_ID }}
          FIREBASE_APP_ID: ${{ secrets.FIREBASE_APP_ID }}
          FIREBASE_MEASUREMENT_ID: ${{ secrets.FIREBASE_MEASUREMENT_ID }}
        run: |
          echo "GOOGLE_MAPS_API_KEY=${GOOGLE_MAPS_API_KEY}" >> .env
          echo "FIREBASE_USERNAME=${FIREBASE_USERNAME}" >> .env
          echo "FIREBASE_PASSWORD=${FIREBASE_PASSWORD}" >> .env
          echo "HECTOR_BASE_URL=${HECTOR_BASE_URL}" >> .env
          echo "HECTOR_USERNAME=${HECTOR_USERNAME}" >> .env
          echo "HECTOR_TYPE=${HECTOR_TYPE}" >> .env
          echo "FIREBASE_API_KEY=${FIREBASE_API_KEY}" >> .env
          echo "FIREBASE_AUTH_DOMAIN=${FIREBASE_AUTH_DOMAIN}" >> .env
          echo "FIREBASE_DATABASE_URL=${FIREBASE_DATABASE_URL}" >> .env
          echo "FIREBASE_PROJECT_ID=${FIREBASE_PROJECT_ID}" >> .env
          echo "FIREBASE_STORAGE_BUCKET=${FIREBASE_STORAGE_BUCKET}" >> .env
          echo "FIREBASE_MESSAGING_SENDER_ID=${FIREBASE_MESSAGING_SENDER_ID}" >> .env
          echo "FIREBASE_APP_ID=${FIREBASE_APP_ID}" >> .env
          echo "FIREBASE_MEASUREMENT_ID=${FIREBASE_MEASUREMENT_ID}" >> .env
          cat .env

      - id: 'auth'
        uses: 'google-github-actions/auth@v1'
        with:
          credentials_json: '${{ secrets.SERVICE_ACCOUNT_KEY }}'

      - name: 'Authenticate region'
        run: |
          gcloud auth configure-docker $REGION_NAME

      - name: 'Set up Cloud SDK'
        uses: 'google-github-actions/setup-gcloud@v1'

      - name: 'Build Docker image'
        run: docker buildx build --platform=linux/amd64 -t $REGION_NAME/$PROJECT_ID/$REGISTRY_NAME/$IMAGE_NAME .

      - name: 'Tag docker image'
        run: docker tag $REGION_NAME/$PROJECT_ID/$REGISTRY_NAME/$IMAGE_NAME $REGION_NAME/$PROJECT_ID/$REGISTRY_NAME/$IMAGE_NAME:latest

      - name: Push Docker image
        run: docker push $REGION_NAME/$PROJECT_ID/$REGISTRY_NAME/$IMAGE_NAME

      - id: 'deploy'
        uses: 'google-github-actions/deploy-cloudrun@v1'
        with:
          service: 'web-tenares-image'
          image: 'web-tenares-image'
          region: us-east1
