---
name: Build and Push Vue/Quasar/Nginx image to Google Cloud Platform
on:
  push:
    branches: [main]
jobs:
  build-push-gcr:
    name: Build image and push to GCP
    runs-on: ubuntu-latest
    env:
      REGION_NAME: 'us-east1-docker.pkg.dev'
      PROJECT_ID: 'extended-poetry-223323'
      REGISTRY_NAME: 'web-tenares'
      IMAGE_NAME: 'web-tenares-image'
      GOOGLE_MAPS_API_KEY: ${{ secrets.GOOGLE_MAPS_API_KEY }}
      FIREBASE_USERNAME: ${{ secrets.FIREBASE_USERNAME }}
      FIREBASE_PASSWORD: ${{ secrets.FIREBASE_PASSWORD }}
      HECTOR_BASE_URL: ${{ secrets.HECTOR_BASE_URL }}
      HECTOR_USERNAME: ${{ secrets.HECTOR_USERNAME }}
      HECTOR_TYPE: ${{ secrets.HECTOR_TYPE }}
      FIREBASE_API_KEY: ${{ secrets.FIREBASE_API_KEY }}
      FIREBASE_AUTH_DOMAIN: ${{ secrets.FIREBASE_AUTH_DOMAIN }}
      FIREBASE_DATABASE_URL: ${{ secrets.FIREBASE_DATABASE_URL }}
      FIREBASE_PROJECT_ID: ${{ secrets.FIREBASE_PROJECT_ID }}
      FIREBASE_STORAGE_BUCKET: ${{ secrets.FIREBASE_ntSTORAGE_BUCKET }}
      FIREBASE_MESSAGING_SENDER_ID: ${{ secrets.FIREBASE_MESSAGING_SENDER_ID }}
      FIREBASE_APP_ID: ${{ secrets.FIREBASE_APP_ID }}
      FIREBASE_MEASUREMENT_ID: ${{ secrets.FIREBASE_MEASUREMENT_ID }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - id: 'auth'
        uses: 'google-github-actions/auth@v1'
        with:
          credentials_json: '${{ secrets.SERVICE_ACCOUNT_KEY }}'

      - name: 'Authenticate region'
        run: |
          gcloud auth configure-docker $REGION_NAME

      - name: 'Set up Cloud SDK'
        uses: 'google-github-actions/setup-gcloud@v1'

      - name: 'Build Docker image'
        run: docker buildx build --platform=linux/amd64 -t $REGION_NAME/$PROJECT_ID/$REGISTRY_NAME/$IMAGE_NAME .

      - name: 'Tag docker image'
        run: docker tag $REGION_NAME/$PROJECT_ID/$REGISTRY_NAME/$IMAGE_NAME $REGION_NAME/$PROJECT_ID/$REGISTRY_NAME/$IMAGE_NAME:latest

      - name: Push Docker image
        run: docker push $REGION_NAME/$PROJECT_ID/$REGISTRY_NAME/$IMAGE_NAME

      - id: 'deploy'
        uses: 'google-github-actions/deploy-cloudrun@v1'
        with:
          service: 'web-tenares-image'
          region: 'us-east1'
          image: 'us-east1-docker.pkg.dev/extended-poetry-223323/web-tenares/web-tenares-image'
